html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ccc;
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 5px 0;
    font-size: 65px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}


footer {
    text-align: right;
    padding: 10px 20px;
    font-size: 12px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
    /* margin-bottom: 200px; */
}


form label {
    color: #bbb;
    font-size: 16px;
    font-weight: bold;
    align-self: start;
}


form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    height: 35px;
    /* padding: 5px 10px; */
    font-size: 16px;
    background-color: #222;
    border: 1px solid #444;
    color: #ccc;
    border-radius: 4px;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="password"]::placeholder {
    color: #777;
}


form input[type="submit"] {
    width: 100px;
    height: 39px;
    font-weight: bold;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-self: center;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}


.link {
    display: block;          
    text-align: right;      
    font-size: 16px;
    margin-top: 50px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: #9630be;
    text-decoration: underline;
}

.link:hover {
    color: #631fa3;
    text-decoration: underline;
}


.flash-message {
    padding: 10px 20px;
    /* border-radius: 5px; */
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    margin: 10px auto;
    width: fit-content;
}




.flash-message.success {
    color: #00ff88;
}

.flash-message.error {
    color: red;
}